.one-column {
    @include base-grid;
    grid-template-columns: 1fr;
  }
  
  .two-column {
    @include base-grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

//   .search-results{
//     display: flex;
//     justify-content: center;
//     margin-top: 30px;
//   }